<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body" >
<div class="card card-inverse" style="background-color: #F1F1F5; border-color: #333;">
  <div class="card-header">
      <h4 class="m-b-0 text-black">Español 1</h4></div>
  <div class="card-body">
      <h3 class="card-title" style="color: black">Relaciona Lineas</h3>
      
      <div class="progress col-6" style="background-color: transparent">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
            [attr.ariaValuenow]="progreso2" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
            [style.width]="80 + '%'"></div>
            <br>
            
    </div>
    <p class="card-text" style="color: black;">Completado: 80%</p>
    
      <img src="../../../assets/images/12919.png" height="120px;" style="position: absolute; margin-left: 80%; margin-top: -8%;">
      <a href="#" class="btn btn-success">Iniciar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>
<div class="card card-inverse" style="background-color: #F1F1F5; border-color: #333;">
  <div class="card-header">
      <h4 class="m-b-0 text-black">Matematicas 5</h4></div>
  <div class="card-body">
      <h3 class="card-title" style="color: black;">Ordena Elementos</h3>
      <div class="progress col-6" style="background-color: transparent">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
            [attr.ariaValuenow]="progreso2" aria-valuenow="50" aria-valuemin="80" aria-valuemax="100"
            [style.width]="100 + '%'"></div>
    </div>
      <p class="card-text" style="color: black;">Completado: 100%</p>
      
      <img src="../../../assets/images/78401.png" height="120px;" style="position: absolute; margin-left: 80%; margin-top: -8%;">
      <a href="#" class="btn btn-success">Iniciar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>    
<div class="card card-inverse" style="background-color: #F1F1F5; border-color: #333;">
  <div class="card-header">
      <h4 class="m-b-0 text-black">Historia 1</h4></div>
  <div class="card-body">
      <h3 class="card-title" style="color: black;">Pregunta abierta</h3>
      <div class="progress col-6" style="background-color: transparent">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
            [attr.ariaValuenow]="progreso2" aria-valuenow="50" aria-valuemin="80" aria-valuemax="100"
            [style.width]="10 + '%'"></div>
    </div>
      <p class="card-text" style="color: black;">Completado: 10%</p>
      
      <img src="../../../assets/images/300x200.png" height="120px;" style="position: absolute; margin-left: 80%; margin-top: -8%;">
      <a href="#" class="btn btn-success">Iniciar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>  
          </div>
      </div>
  </div>
</div>

