<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h2>Descripción</h2>   
              <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">Actividad creada</h3>
              <h4>Pregunta 1</h4>
              <p class="card-text">Expresion oral y escrita.</p>
              <a href="#" class="btn btn-warning fa fa-edit"></a>
              <a href="#" class="btn btn-danger fa fa-ban"></a>
              <a href="#" class="btn btn-success fa mdi-arrow-down-drop-circle-outline"></a>
              
          </div>
          <img src="../../../assets/images/espa.png" height="200px" style="margin-left: 80%;position: absolute;">
      </div>
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">Actividad creada</h3>
              <h4>Pregunta 2</h4>
              <p class="card-text">Problemas de operaciones elementales.</p>
              <a href="#" class="btn btn-warning fa fa-edit"></a>
              <a href="#" class="btn btn-danger fa fa-ban"></a>
              <a href="#" class="btn btn-success fa mdi-arrow-down-drop-circle-outline"></a>
              
          </div>
          <img src="../../../assets/images/mates.png" height="200px" style="margin-left: 80%;position: absolute;">
      </div>            
          <br><br>        
          <div class="card text-center">
          <div class="card-body">
              <h4 class="card-title">Agregar Pregunta</h4>
              
              <a href="#" class="btn btn-primary" style="border-radius: 50%; height: 100px;width: 100px;font-size:70px;">+</a>
          </div>
      </div>
  </div>
          </div>
      </div>
  </div>
</div>
