#Modificar{
    height: 150px;
    width: 150px;
    font-size: 94px;
    margin-top: 60px;
    border-radius: 50%;
    background: #EE9E72;
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
    padding-bottom: 10px;
    font-size: 87px; 
    margin-top: 139px;
    margin-left: 94px;
}
#ver{
    height: 150px;
    width: 150px;
    font-size: 94px;
    margin-top: 60px;
    border-radius: 50%;
    background: #789DCA;
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
    padding-bottom: 10px;
    font-size: 87px; 
    margin-top: 139px;
    margin-left: 94px;
}
#Empezar{
    height: 150px;
    width: 150px;
    font-size: 94px;
    margin-top: 60px;
    border-radius: 50%;
    background: #9E4BA4;
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
    padding-bottom: 10px;
    font-size: 87px; 
    margin-top: 139px;
    margin-left: 116px;
}
#Compartir{
    height: 150px;
    width: 150px;
    font-size: 94px;
    margin-top: 60px;
    border-radius: 50%;
    background: #D9063B;
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
    padding-bottom: 10px;
    font-size: 87px; 
    margin-top: 142px;
    margin-left: 762px;
}

#titulo{
    margin-left: 31%;
    position: absolute;
}
#sub{
    margin-left: 45%;
    position: absolute;
    margin-top: 40px;
}

#txtExamen{
 margin-top: 300px;
    position: absolute;
    margin-left: 82px;   
}
#txtVer{
 margin-top: 300px;
    position: absolute;
    margin-left: 136px;   
}
#txtEmpezar{
 margin-top: 300px;
    position: absolute;
    margin-left: 108px;   
}
#txtCompartir{
 margin-top: 300px;
    position: absolute;
    margin-left: 753px;
    margin-top: 302px;   
}
#divPreview{
    margin-left: 220px;
    
}
#divEmpezar{
    margin-left: 420px;
    
}
#principal{
    margin-left: 35px;
}