


<div class="row"> 
<div class="col-md-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Relaciona lineas</h3>
        <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form>
                    <div class="form-group col-12">
                        <label>Titulo</label><i class="fa fa-book" style="margin-left: 10px; color: #609ff2;"></i>
                        <input type="text" class="form-control form-control" value=""> </div>  
   <div class="form-group col-12">
                        <label>Descripción</label><i class="fa fa-asterisk" style="margin-left: 10px;color: #609ff2;"></i>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
     
                <br>
    
       <form class="form-material m-t-40 row">
               <div class="btn-group bootstrap-select m-b-20 m-r-10" style="margin-left: 32px;"><button type="button" class="btn dropdown-toggle btn-info btn-outline-info" data-toggle="dropdown" role="button" title="Hot Dog, Fries and a Soda" aria-expanded="false"><span class="filter-option pull-left">Visible para....</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 135px; overflow-y: auto; min-height: 0px;">
                       <li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="ketchup mustard" role="option" aria-disabled="false" aria-selected="true"><span class="text">Alumnos</span><span class="mdi mdi-check-circle check-mark"></span></a></li><li data-original-index="1"><a tabindex="2" class="" data-tokens="mustard" role="option" aria-disabled="false" aria-selected="false"><span class="text">Maestros</span><span class="mdi mdi-check-circle check-mark"></span></a></li><li data-original-index="2">
                           <a tabindex="3" class="" data-tokens="frosting" role="option" aria-disabled="false" aria-selected="false"><span class="text">Ambos</span><span class="mdi mdi-check-circle check-mark"></span></a></li></ul></div>
                        
                    
                   
                </form>
     <div class="form-group col-12">
                        <label>Comentarios</label><i class="fa fa-pencil-square" style="margin-left: 10px;color: #609ff2;"></i>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
    <div class="form-group col-12">
                    <label>Agrega una imagen</label><i class="fa fa-file-image-o" style="margin-left: 10px;color: #609ff2;"></i>
                    <input type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp">
                </div>
                <div class="col-12">
    <label>Link del Video <span class="help"> </span></label><i class="fa fa-file-video-o" style="margin-left: 10px;color: #609ff2;"></i>
                        <input type="text" class="form-control form-control-line" value="www.youtube.com"> </div><br><br>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Sample Basic Forms</h3>
        <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form>
                    <div class="form-group col-12">
                        <label>Titulo</label><i class="fa fa-book" style="margin-left: 10px; color: #609ff2;"></i>
                        <input type="text" class="form-control form-control" value=""> </div>  
   <div class="form-group col-12">
                        <label>Descripción</label><i class="fa fa-asterisk" style="margin-left: 10px;color: #609ff2;"></i>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
     
                <br>
    
       <form class="form-material m-t-40 row">
               <div class="btn-group bootstrap-select m-b-20 m-r-10" style="margin-left: 32px;"><button type="button" class="btn dropdown-toggle btn-info btn-outline-info" data-toggle="dropdown" role="button" title="Hot Dog, Fries and a Soda" aria-expanded="false"><span class="filter-option pull-left">Visible para....</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 135px; overflow-y: auto; min-height: 0px;">
                       <li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="ketchup mustard" role="option" aria-disabled="false" aria-selected="true"><span class="text">Alumnos</span><span class="mdi mdi-check-circle check-mark"></span></a></li><li data-original-index="1"><a tabindex="2" class="" data-tokens="mustard" role="option" aria-disabled="false" aria-selected="false"><span class="text">Maestros</span><span class="mdi mdi-check-circle check-mark"></span></a></li><li data-original-index="2">
                           <a tabindex="3" class="" data-tokens="frosting" role="option" aria-disabled="false" aria-selected="false"><span class="text">Ambos</span><span class="mdi mdi-check-circle check-mark"></span></a></li></ul></div>
                        
                    
                   
                </form>
     <div class="form-group col-12">
                        <label>Comentarios</label><i class="fa fa-pencil-square" style="margin-left: 10px;color: #609ff2;"></i>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
    <div class="form-group col-12">
                    <label>Agrega una imagen</label><i class="fa fa-file-image-o" style="margin-left: 10px;color: #609ff2;"></i>
                    <input type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp">
                </div>
                <div class="col-12">
    <label>Link del Video <span class="help"> </span></label><i class="fa fa-file-video-o" style="margin-left: 10px;color: #609ff2;"></i>
                        <input type="text" class="form-control form-control-line" value="www.youtube.com"> </div><br><br>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>