#ch{
    height: 300px;
    width: 10px; 
    margin-left: 76%;
    margin-top: -1%;
        
    } 
    .btnCh{
        margin-top: 40px;
    }
    
    .iradio_line-red{
        position: relative;
        display: block;
        margin: 5px;
        padding: 11px 92px 14px 87px;
        font-size: 22px;
        line-height: 18px;
        color: #fff;
        background: #789dca;
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;   
    }
    
    li:hover{
    background:#789dca !important; 
    }
    ins:hover{
        background:#789dca !important; 
        }
    
    .btnCh:hover{
        background:#789dca !important; 
        }