<div class="card">
    <div class="card-body">
        <h4 id="fondo" class="card-title"></h4>
        <div id="font">

            <img id="ima" src="assets/images/culebrita.png" width="800" height="400" position="center">



        </div>

    </div>

</div>