<div class="card">
    <div class="card-body">
        <h4 class="card-title"></h4>
        <div id="font">
            <p id="salida">NIVEL 1</p>
            <div id="aparato">
                <div id="verde" class="color"></div>
                <div id="rojo" class="color"></div>
                <div id="amarillo" class="color"></div>
                <div id="azul" class="color"></div>
            </div>
            <button id="empezar" onClick='comienzo()'>Comenzar</button>
            <!--<button id="empezar" class="btn btn-success">Comenzar</button>-->
        </div>
    </div>
</div>